.divtitleintro{
    background-color: white;
}

.titleintro{
    font-size: 3rem !important;
    margin-bottom: 0rem !important;
}

.divmainintro{
    height: 100%;
}

.divparintro{
    background-color: white;
    height: 100% !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
}

.parintrosmall{
    font-size: 1.27rem;
}

.imgintro{
    height: 55rem !important;
}

.imgintroins{
    margin-left: 40rem;
}
